name: Dependabot Notify
on:
  pull_request:
    types: [opened]
jobs:
  notify:
    if: github.actor == 'dependabot[bot]'
    uses: 8linkz-sec/.github/.github/workflows/dependabot-notify.yml@main
    secrets:
      DISCORD_DEP: ${{ secrets.DISCORD_DEP }}
